#fg_membersite .short_explanation
{
	text-align: center;
   font-family : Arial, sans-serif;
   font-size: 0.8em;
   color:#333;   
}
#fg_membersite .spmhidip
{   
   display:none;
   width:10px;
   height:3px;
}
#fg_membersite legend{
	text-align: center;
}
#fg_membersite label{

	text-align: left;
	position: relative;
   font-family : Arial, sans-serif;
   font-size:0.8em;
   font-weight: bold;
}

#fg_membersite .container{
	text-align: center;
}